:root {
    /* Colour */
    --color-bg-body: #f8f4f6;
    --color-text-body: #0d2d57;
    --color-bg-container: #f9f9f9;
    --color-primary: #08174d;
    --color-secondary: #3a82f7;
    --color-secondary-dark: #196cf3;
    --color-border-light: #ddd;
    --color-bg-alt: #f9f9f9;
    --color-border-input: #ccc;
    --color-bg-result: #eaf5ff;
    --color-text-light: white;
    --color-error: #f31919;

    /* Spacing */
    --spacing-xxs: 5px;
    --spacing-xs: 8px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 30px;

    /* Border */
    --border-radius-medium: 15px;
    --border-radius-small: 10px;
}
